# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\studyCodes\实时项目\gmall-0225\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
