# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\studyCodes\hive\hive_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
